.App {
  /* background-image: url(./mobile-design.jpg); */
  /* background-size: 375px 354.5px; */
  background-color: var(--pale-blue);
  background-image: url(./pattern-background-mobile.svg);
  background-repeat: no-repeat;
  font-size: 16px;
  font-family: "RedHatDisplay", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  color: var(--desaturated-blue);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 328px;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 15px 15px 2px var(--addition-shadow);
  /* margin: 22px; */
  /* border: 0.1px solid black; */
}

img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.content {
  padding: 0 23px;
}

.desp {
  text-align: center;
}

.desp > h1 {
  padding: 10px 0 0;
  font-size: 22px;
  color: var(--dark-blue);
  font-weight: 800;
}
.desp > p {
  padding: 0 16px;
  line-height: 1.7;
  font-size: 15px;
}


.inform {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0 18px 40px; */
  margin: 23px 0 22px;
  padding: 18px 16px;
  background-color: var(--very-pale-blue);
  /* border: 0.1px solid black; */
  /* opacity: 0; */
  border-radius: 10px;
}
.detail {
  display: flex;
}

.inform img {
  width: 50px;
  object-fit: scale-down;
}

.inform .plan {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.plan span {
  display: block;
}
.plan span:first-child {
  color: var(--dark-blue);
  font-weight: 800;
}
.inform a {
  font-size: 13px;
  color: var(--bright-blue);
  font-weight: 800;
}
.inform a:hover {
  color: var(--addition-blue);
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action > button {
  padding: 16px 0;
  border: none;
  border-radius: 10px;
  width: 100%;
  background-color: var(--bright-blue);
  color: var(--very-pale-blue);
  /* opacity: 0.5; */
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0 10px 10px 8px var(--pale-blue);
  cursor: pointer;
}
.action > button:hover {
  background-color: var(--addition-blue);
}
.action > a {
  padding: 20px 0 34px;
  text-decoration: none;
  font-weight: 800;
  color: var(--desaturated-blue);
}
.action > a:hover {
  color: var(--dark-blue);
}

@media (min-width: 400px) {
  .App {
    /* background-image: url(./desktop-design.jpg); */
    background-image: url(./pattern-background-desktop.svg);
    background-size: contain;
  }
  .card {
    width: 450px;
  }
  .content {
    padding: 0 48px;
  }
  .desp > h1 {
    padding-top: 20px;
    font-size: 28px;
    margin-bottom: 18px;
  }
  .desp > p {
    font-size: 16px;
    line-height: 1.6;
  }
  .inform {
    padding-left: 22px;
    padding-right: 22px;
    margin-top: 27px;
    margin-bottom: 36px;
  }
  .inform a {
    font-size: 14px;
  }

  .action > a{
    padding-top: 30px;
    padding-bottom: 49px;
  }

}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 500;
  src: url("./RedHatDisplay-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 700;
  src: url("./RedHatDisplay-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RedHatDisplay";
  font-weight: 900;
  src: url("./RedHatDisplay-Black.ttf") format("truetype");
}